//Colors

//TEXT
$textLight: #ffffff;
$textDark: #111111;
$textDisabled: #5e5858;

$mainViolet: #c04ae2;
$mainVioletDark: rgb(168, 52, 201);

//ICONS
$iconFacebook: #3b5998;
$iconTwitter: #1da1f2;
$iconYoutube: #ff1e00;
$iconInstagram: #df6053;

//BORDERS
$introRed: rgb(254, 102, 134);
$introGreen: #54d6a1;
$introOrange: #fe9a3f;
$projectPink: #edd4d8;
$projectBlue: #69c7f5;
$projectYellow: #fed440;
