@import "./variables";

.h4 {
  font-size: clamp(1rem, 2vw, 2rem);
  font-family: "Overpass";
  font-weight: 800;
  color: $mainViolet;
  text-transform: uppercase;
}
.h1 {
  font-size: clamp(2rem, 4vw, 5rem);
  font-family: "Overpass";
  font-weight: 800;
}

.card {
  max-width: 300px;
  height: 400px;
  margin-bottom: 30px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  &__red {
    border: 3px solid $introRed;
  }
  &__green {
    border: 3px solid $introGreen;
  }
  &__orange {
    border: 3px solid $introOrange;
  }
  &:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 20px $textDisabled;
  }
}
.h5 {
  font-weight: 800;
}
.paragraph {
  font-family: "Poppins";
}
