@import "./variables";
.container {
  height: 100vh;
  background-color: $textDisabled;
}
.wrapper {
  height: 30vh;
}
.button {
  background-color: $mainViolet;
  width: 240px;
  height: 70px;
  border: none;
  border-radius: 15px;
  font-size: 2rem;
}
