@import "./variables";

.h2 {
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: 800;
}
.h6 {
  font-size: clamp(1rem, 1vw, 1.5rem);
  color: $textDisabled;
}
.paragraph {
  color: $textDisabled;
}
.button {
  width: 180px;
  height: 48px;
  background: transparent;
  border: 2px solid $mainViolet;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.2s ease-in;
  &:hover {
    background: $mainViolet;
    border: none;
    color: $textLight;
  }
}
