@import "./variables";

.h2 {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
}
.h3 {
  font-size: clamp(1.25rem, 1.5vw, 1.75rem);
  font-weight: 800;
  color: $textDisabled;
  color: $mainViolet;
}
.paragraph {
  color: $textDisabled;
}
.button {
  width: 180px;
  height: 48px;
  background: transparent;
  border: 2px solid $mainViolet;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.2s ease-in;
  &:hover {
    background: $mainViolet;
    border: none;
    color: $textLight;
  }
}
