@import "./variables";

.navbar {
  position: fixed;
  top: 0;
  height: 100vh;
  min-width: 360px;
  z-index: 1000;
  transition: 0.4s ease-in-out;
}
.sidenav {
  height: 100vh;
  background-color: $textLight;
}
.menuBar {
  position: fixed;
  height: 80px;
  background-color: $textLight;
  border-bottom: 1px solid $mainViolet;
  z-index: 2;
}
.link {
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: $textDark;
  &:hover {
    color: $textLight;
    background-color: rgba($mainViolet, 0.6);
  }
}

.icon {
  font-size: 3rem;
  transition: 0.2s ease-in;

  &__fb {
    color: $iconFacebook;
  }
  &__tw {
    color: $iconTwitter;
  }
  &__yt {
    color: $iconYoutube;
  }
  &__in {
    color: $iconInstagram;
  }
  &:hover {
    color: $mainViolet;
  }
}
.openIcon {
  position: fixed;
  top: 0;
  display: block;
  color: $mainViolet;
  // font-size: 3rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.closeIcon {
  display: block;
  color: $mainViolet;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.hidden {
  transform: translate(-100%, 0);
  transition: 0.4s ease-in-out;
}
